.accountCard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
}
.accountWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.leftSide {
  background-color: cornsilk;
  border-radius: 8px 0 0 8px;
  height: 100%;
}
.rightSide {
  background-color: rgb(234, 234, 234);
  border-radius: 0 8px 8px 0;
  height: 100%;
}
