.accountWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 2rem 0;
}
.accountWrapper .header {
  color: white;
  background-color: #ffcc00;
  width: 100%;
  margin: 0;
  padding: 1.5rem 1rem;
}
.accountWrapper svg {
  width: auto;
  height: 20px;
  max-width: 100%;
  max-height: 100%;
}
.accountWrapper .infoField .labelWrapper:hover .editIcon {
  display: inline-block;
}
.accountWrapper .labelWrapper {
  position: relative;
}
.accountWrapper .infoField .editIcon {
  position: absolute;
  right: 0;
  display: none;
  cursor: pointer;
}
.accountWrapper .accountCard {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  max-width: 1250px;
}
.accountWrapper .accountCard .leftSide {
  background-color: white;
  border-right: 1px solid #ffcc00;
  border-radius: 8px 0 0 8px;
  align-self: normal;
  width: 35%;
}
.accountWrapper .accountCard .rightSide {
  background-color: white;
  border-radius: 0 8px 8px 0;
  width: 65%;
  height: 750px;
  overflow-y: scroll;
  padding: 0;
}
.accountWrapper .accountCard .rightSide .container {
  padding: 1.5rem;
  margin: 0;
}
.accountWrapper .accountCard .rightSide .personalInfo .resetPassword {
  text-decoration: underline;
  color: #ffcc00;
  font-weight: 700;
  cursor: pointer;
}
.accountWrapper .accountCard .rightSide .payment {
  margin: 1rem 0;
}
.accountWrapper .accountCard .rightSide .infoField {
  margin: 1rem 0;
}
.accountWrapper .accountCard .rightSide .field {
  display: flex;
  align-items: center;
}
.accountWrapper .accountCard .rightSide .field .infoValue {
  width: 100%;
  padding: 14px 14px 7px 14px;
  border-bottom: 1px solid #ffcc00;
}
.accountWrapper .accountCard .rightSide .field .infoValue:focus,
.accountWrapper .accountCard .rightSide .field .infoValue:focus-visble {
  background-color: aqua;
}
.accountWrapper .accountCard .rightSide .paymentCard {
  background-color: #3e3e3e;
  width: 150px;
  color: white;
  padding: 0.3rem 0.75rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  white-space: break-spaces;
}
.accountWrapper .accountCard .rightSide .paymentCard svg {
  width: 40%;
  height: auto;
}
.accountWrapper .accountCard .rightSide .address {
  background-color: #3e3e3e;
  width: 150px;
  color: white;
  padding: 0.3rem 0.75rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  white-space: break-spaces;
}
.accountWrapper .accountCard .rightSide .address svg {
  width: 40%;
  height: auto;
}
.accountWrapper .accountCard .rightSide .addresses,
.accountWrapper .accountCard .rightSide .paymentMethods {
  overflow-x: scroll;
}
.accountWrapper .accountCard .rightSide .addCardForm .inputLabel {
  margin-bottom: 10px;
}
.accountWrapper .accountCard .rightSide .addCardForm .firstLast,
.accountWrapper .accountCard .rightSide .addCardForm .numCSV {
  display: flex;
  margin: 10px 0;
}
.accountWrapper .accountCard .rightSide .addCardForm .first,
.accountWrapper .accountCard .rightSide .addCardForm .last,
.accountWrapper .accountCard .rightSide .addCardForm .num,
.accountWrapper .accountCard .rightSide .addCardForm .csv {
  width: 50%;
}
.accountWrapper .accountCard .rightSide .addCardForm .last,
.accountWrapper .accountCard .rightSide .addCardForm .csv {
  margin-left: 10px;
}
.accountWrapper .accountCard .rightSide .addCardForm .expDate {
  margin-bottom: 0.75rem;
  width: 50%;
}
.accountWrapper .accountCard .purchaseHistory .product {
  display: flex;
}
.accountWrapper .accountCard .purchaseHistory .product img {
  width: auto;
  height: 100px;
  margin-right: 1rem;
}

@media only screen and (max-width: 767px) {
  .accountWrapper {
    height: auto;
  }
  .accountCard {
    flex-direction: column;
  }
  .accountCard .leftSide,
  .accountCard .rightSide {
    width: 100% !important;
    border-radius: 0 !important;
  }
  .accountCard .rightSide {
    overflow-y: visible !important;
    height: auto !important;
  }
}