.card {
  margin: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #f8f8f8;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease-in-out;
}
.card:hover {
  transform: scale(1.05);
}

.cardContent {
  padding: 1rem;
  background-color: white;
  width: 100%;
  color: #ffcc00;
  border-radius: 0 0 8px 8px;
}
.cardContent h5 {
  color: #3e3e3e;
  font-weight: 400;
  font-size: 1rem;
  margin: 1rem 0;
}

.image {
  height: 100%;
  width: 100%;
  margin: 0;
}

.image img {
  width: 100%;
  height: auto;
}