.checkoutPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.checkoutPageContainer button {
  color: #3e3e3e;
}
.checkoutPageContainer .stage-progress {
  display: flex;
  width: 100%;
  justify-content: center;
}
.checkoutPageContainer .stage-progress button {
  width: 80px;
  height: 30px;
  margin: 1rem;
  line-height: normal;
  padding: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkoutPageContainer .progress {
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkoutPageContainer .progress .line {
  width: 0px;
  height: 2px;
  padding: 0 10px;
  transition: all 0.25s ease-in-out;
  background-color: #f8f8f8;
}
.checkoutPageContainer .progress .line.active {
  width: 20px;
  background-color: #ffcc00;
}
.checkoutPageContainer .progress .dot {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  border: 1px solid #ffcc00;
  background-color: white;
  transition: all 0.4s ease-in-out;
}
.checkoutPageContainer .progress .dot.active {
  background-color: #ffcc00;
}
.checkoutPageContainer .checkoutPageContent {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: stretch;
}
.checkoutPageContainer .checkoutPageContent .left-column {
  width: 70%;
  background-color: white;
  padding: 1rem 2rem;
  margin: 1rem 1rem 2rem 0;
  border-radius: 8px;
}
.checkoutPageContainer .checkoutPageContent .left-column .saveAddress {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
.checkoutPageContainer .checkoutPageContent .left-column .saveAddress #saveAddress {
  border: 1px solid #ffcc00;
  margin-right: 0.75rem;
}
.checkoutPageContainer .checkoutPageContent .left-column .paymentCard {
  background-color: #3e3e3e;
  color: white;
  display: flex;
  max-width: fit-content;
  align-items: center;
  gap: 10px;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 1rem;
}
.checkoutPageContainer .checkoutPageContent .left-column .paymentCard svg {
  width: 20px;
  height: auto;
}
.checkoutPageContainer .checkoutPageContent .left-column .saveCard {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
}
.checkoutPageContainer .checkoutPageContent .left-column .saveCard #saveCard {
  border: 1px solid #ffcc00;
  margin-right: 0.75rem;
}
.checkoutPageContainer .checkoutPageContent .left-column .imgButton {
  position: relative;
  width: 60%;
}
.checkoutPageContainer .checkoutPageContent .left-column .imgButton button {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.checkoutPageContainer .checkoutPageContent .left-column .imgButton .checkoutImg {
  height: auto;
  width: 100%;
}
.checkoutPageContainer .checkoutPageContent .left-column .firstLast {
  display: flex;
  width: 100%;
}
.checkoutPageContainer .checkoutPageContent .left-column .firstLast .firstNameContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.checkoutPageContainer .checkoutPageContent .left-column .firstLast .lastNameContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}
.checkoutPageContainer .checkoutPageContent .left-column .numCSV {
  display: flex;
  width: 100%;
  margin-top: 1rem;
}
.checkoutPageContainer .checkoutPageContent .left-column .numCSV .num {
  display: flex;
  width: 80%;
  flex-direction: column;
}
.checkoutPageContainer .checkoutPageContent .left-column .numCSV .cvv {
  width: 20%;
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}
.checkoutPageContainer .checkoutPageContent .left-column .expDate {
  margin-top: 1rem;
}
.checkoutPageContainer .checkoutPageContent .left-column .addressSelect {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 1rem 0;
}
.checkoutPageContainer .checkoutPageContent .left-column .addressSelect label {
  margin-bottom: 0.75rem;
}
.checkoutPageContainer .checkoutPageContent .left-column .addressSelect .addresses {
  overflow-x: scroll;
  width: 100%;
  gap: 10px;
}
.checkoutPageContainer .checkoutPageContent .left-column .addressSelect .address {
  background-color: #3e3e3e;
  color: white;
  display: flex;
  max-width: fit-content;
  flex-direction: column;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}
.checkoutPageContainer .checkoutPageContent .left-column .addressSelect .address .name {
  display: flex;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 12px;
}
.checkoutPageContainer .checkoutPageContent .left-column .addressSelect .address .addressName {
  font-size: 12px;
}
.checkoutPageContainer .checkoutPageContent .left-column .addressForm {
  margin: 2rem 0;
}
.checkoutPageContainer .checkoutPageContent .left-column .firstAndLast {
  display: flex;
}
.checkoutPageContainer .checkoutPageContent .left-column .firstAndLast .first,
.checkoutPageContainer .checkoutPageContent .left-column .firstAndLast .last {
  width: 50%;
}
.checkoutPageContainer .checkoutPageContent .left-column .addressFields {
  margin-top: 3rem;
}
.checkoutPageContainer .checkoutPageContent .left-column .addressFields .cityStateZip {
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkoutPageContainer .checkoutPageContent .left-column .addressFields .cityStateZip .city {
  width: 90%;
}
.checkoutPageContainer .checkoutPageContent .left-column .addressFields .cityStateZip .state {
  width: 15%;
  margin: 0 2.5%;
}
.checkoutPageContainer .checkoutPageContent .left-column .addressFields .cityStateZip .state .stateSelect {
  border-color: #ffcc00;
  padding: 0.25rem;
  border-radius: 8px;
}
.checkoutPageContainer .checkoutPageContent .left-column .addressFields .cityStateZip .state .stateSelect:focus {
  border: 2px solid #ffcc00;
}
.checkoutPageContainer .checkoutPageContent .left-column .addressFields .cityStateZip .zip {
  width: 22.5%;
}
.checkoutPageContainer .checkoutPageContent .left-column .addressFields .cityStateZip .phone {
  margin-bottom: 2rem;
}
.checkoutPageContainer .checkoutPageContent .thirdStage {
  width: 60%;
}
.checkoutPageContainer .checkoutPageContent .right-column {
  width: 25%;
  background-color: #ffcc00;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem 0 2rem 1rem;
}
.checkoutPageContainer .checkoutPageContent .right-column .summaryDisplay {
  min-height: 400px;
  background-color: white;
  padding: 1rem 2rem;
  margin: 0 0.5rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.checkoutPageContainer .checkoutPageContent .right-column .summaryDisplay .summaryItem {
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  justify-content: space-between;
  border-radius: 8px;
}
.checkoutPageContainer .checkoutPageContent .right-column .summaryDisplay .summaryItem .remove {
  padding: 0.5rem;
  line-height: 100%;
}
.checkoutPageContainer .checkoutPageContent .right-column .summaryDisplay .summaryFooter {
  justify-self: flex-end;
}

@media only screen and (max-width: 767px) {
  .checkoutPageContent {
    flex-direction: column;
    width: 100% !important;
  }
  .checkoutPageContent .left-column {
    width: 100% !important;
    margin: 1rem 0 0 0 !important;
  }
  .checkoutPageContent .left-column .firstLast {
    flex-direction: column;
  }
  .checkoutPageContent .left-column .firstLast .firstNameContainer,
  .checkoutPageContent .left-column .firstLast .lastNameContainer {
    width: 100% !important;
  }
  .checkoutPageContent .left-column .firstLast .lastNameContainer {
    margin: 1rem 0 !important;
  }
  .checkoutPageContent .left-column .numCSV {
    flex-direction: column;
  }
  .checkoutPageContent .left-column .numCSV .num,
  .checkoutPageContent .left-column .numCSV .cvv {
    width: 100% !important;
  }
  .checkoutPageContent .left-column .numCSV .cvv {
    margin: 1rem 0 !important;
  }
  .checkoutPageContent .right-column {
    width: 100% !important;
    border-radius: 0 !important;
    margin-bottom: 1rem;
  }
}