.loginWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loginCard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
}

.login {
  display: flex;
  flex-direction: column;
  background: gold;
  padding: 40px 20px;
  border-radius: 10px;
  border: 1px solid black;
}

.formCard {
  width: 60%;
}

.leftSide {
  width: 30%;
  overflow: hidden;
  position: relative;
}
.leftSide img {
  position: absolute;
  width: 450px;
  left: 0;
  top: 20%;
  max-width: none;
  height: auto;
}
.leftSide h2 {
  font-weight: 800;
  font-size: 30px;
}

.rightSide {
  min-height: 500px;
}
.rightSide .input {
  margin: 1rem 0;
}
.rightSide .input span {
  margin-top: 1rem;
  cursor: pointer;
}
.rightSide button {
  margin-bottom: 1rem;
}
.rightSide .signupLinkWrapper a {
  color: #ffcc00;
  font-weight: 700;
}

.login button {
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
}

.loginWrapper .leftSide {
  background-color: #ffcc00;
  border-radius: 8px 0 0 8px;
  height: 100%;
}

.loginWrapper .rightSide {
  background-color: White;
  border-radius: 0 8px 8px 0;
  height: 100%;
}