.navbar-list {
  display: flex;
  height: 80px;
  width: 55%;
  background-color: #f8f8f8;
  text-decoration: none;
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.navbar {
  width: 100%;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 100000;
  white-space: nowrap;
}

.accountIcon {
  height: 25px;
  cursor: pointer;
}

.links {
  display: flex;
  align-items: center;
}

.links a {
  text-decoration: none;
  margin: 1rem;
}
