.postCheckout {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.postCheckout .content {
  width: 80%;
  margin: 2rem;
  display: flex;
  background-color: white;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}
.postCheckout .content .postCheckoutHeader {
  height: 20%;
}
.postCheckout .content .postCheckoutHeader .previewImg {
  height: auto;
  width: 300px;
}
.postCheckout .content .postCheckoutHeader h1 {
  color: #ffcc00;
}
.postCheckout .content .postCheckoutHeader h2 {
  font-weight: 400;
}
.postCheckout .content .postCheckoutFooter {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.postCheckout .content .postCheckoutFooter .checkoutImg {
  height: auto;
  width: 500px;
}
.postCheckout .content .postCheckoutFooter .buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}