* {
  box-sizing: border-box;
}

.results {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  max-height: 300px;
  position: absolute;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 8px;
}

.results a {
  color: #3e3e3e;
}

.searchbar {
  position: relative;
}

.searchbar input {
  padding: 5px 17px;
  width: 200px;
  border-radius: 34px;
  background-color: white;
  border: 1px solid #ffcc00;
}

.searchbar input:focus-visible,
.searchbar input:focus-within,
.searchbar input:active {
  outline-color: #ffcc00;
}

.searchbar ::-webkit-scrollbar {
  width: 5px;
}

.searchbar ::-webkit-scrollbar-thumb {
  background: #ffcc00;
  border-radius: 8px;
}

#icon {
  width: 15px;
  height: auto;
}

.result {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0 !important;
  padding: 1rem;
}
.result h5 {
  white-space: break-spaces;
}

.result:hover {
  background-color: #f0f0f0;
}