.signupWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.leftSide {
  background-color: cornsilk;
  border-radius: 8px 0 0 8px;
}
.rightSide {
  background-color: rgb(234, 234, 234);
  border-radius: 0 8px 8px 0;
}

.leftSide,
.rightSide {
  padding: 3rem;
  height: 30%;
}
