label {
  color: #3e3e3e;
}

#name {
  display: flex;
}
.first {
  display: flex;
  flex-direction: column;
}
.last {
  display: flex;
  flex-direction: column;
}

.input {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}

.input input {
  margin: 0;
  border: none;
  border-bottom: 1px solid #ffcc00;
}

.input input:focus-visible,
.input input:focus {
  border-radius: 0px;
  background-color: #f8f8f8;
  outline: none;
  border-bottom: 1px solid #ffcc00;
}
.last {
  margin-left: 8px;
}
