.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  left: 0;
  right: 0;
  padding: 0 20px;
  color: #3e3e3e;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  position: fixed;
  top: -80px;
  background-color: #ffcc00;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.banner.visible {
  transform: translateY(160px);
}
