.dropdownContainer {
  min-width: 350px;
  padding: 1rem;
  background-color: #fff;
  position: absolute;
  top: 150%;
  right: 0;
  min-height: 250px;
  color: black;
  border-radius: 0 8px 8px 8px;
  border: 1.5px solid #ffcc00;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .cartItem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    padding: 10px;
    border-top: 1px solid #ffcc00;
    .cartItemName {
      white-space: break-spaces;
      width: 50px;
      margin: 0 0.25rem 0 0;
    }
    .countUpdate {
      gap: 0.25rem;
    }
    .plus,
    .minus {
      width: 10px;
      height: 10px;
      background-color: white;
      border: 1px solid #ffcc00;
      padding: 0.75rem;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color: #3e3e3e;
      font-size: 24px;
      font-weight: bold;
    }
  }
  .footer {
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .total {
      font-weight: bold;
      font-size: 18px;
    }
  }
  .cartItem:first-child {
    border-top: none;
  }
  .cartItemImg {
    width: 75px;
    height: auto;
    margin: 1rem;
    justify-self: flex-start;
  }
  .nameAndButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
  }
  .remove {
    background-color: #ffcc00;
    color: white;
    height: 15px;
    width: 15px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
  }
  .header {
    background-color: #3e3e3e;
    border-radius: 8px 8px 0 0;
    color: white;
  }
  .content {
    background-color: #f8f8f8;
    padding: 2rem 0.5rem;
    border-radius: 8px;
    .accountSettings {
      width: 100%;
      margin: 0;
    }
  }
  .cartItemPrice {
    margin: 0;
  }

  .name {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .count {
    margin-left: 0.5rem;
    display: flex;
    border-radius: 8px;
    width: 30px;
  }
  .countUpdate {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nameAndPrice {
    height: 20%;
  }
}
