.product-page {
  display: flex;
  width: 85%;
  justify-content: center;
  margin: auto;
  .right-column {
    width: 80%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      padding: 0.5rem;
      width: 30rem;
      height: 50px;
      margin-top: 1rem;
    }
  }
  .left-column {
    width: 20%;
    min-width: 300px;
  }
}

.filter-section {
  display: flex;
  flex-direction: column;
}

.filter {
  display: flex;
  align-items: center;
}

.search input {
  padding: 9px 17px;
  border-radius: 34px;
  width: 100%;
}

.catalog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.catalogHeader {
  width: 80%;
}
.search {
  width: 100%;
  margin-bottom: 0.5rem;
  input {
    padding: 1rem;
    border-radius: 8px;
  }
}

.product-gallery {
  width: 100%;
  padding: 2rem;
  display: grid;
  max-height: 1050px;
  overflow-y: scroll;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

@media only screen and (max-width: 767px) {
  .product-page {
    flex-direction: column;
    justify-content: center;
    width: 80%;
    .right-column {
      width: 100%;
    }
  }
  .catalog {
    margin-top: 160px;
    .catalogHeader {
      padding: 0 1rem;
      width: 80%;
    }
    .product-gallery {
      padding: 0;
    }
    .card {
      h5 {
        color: #3e3e3e;
      }
    }
  }
}
