.product-page {
  display: flex;
  width: 85%;
  justify-content: center;
  margin: auto;
}

.filter-section {
  display: flex;
  flex-direction: column;
}

.filter {
  display: flex;
  align-items: center;
}

.search input {
  padding: 9px 17px;
  border-radius: 34px;
  width: 100%;
}
.search {
  width: 100%;
}
.right-column {
  width: 80%;
}
.left-column {
  width: 20%;
  min-width: 300px;
}
.product-gallery {
  width: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

@media only screen and (max-width: 767px) {
  .product-page {
    flex-direction: column;
    justify-content: center;
    width: 80%;
    .right-column {
      width: 100%;
    }
  }
}
